<div class='usa-grid'>
  <div class='usa-width-one-half site-description'>
    <p>The Unaccompanied Children's Dashboard provides ... </p>
  </div>
  <div class='usa-width-one-half'>
    <%= render partial: '/devise/sessions/new' %>
  </div>
</div>

