<a href='/users/sign_out' class='float-right'>Sign out</a>
<a href='/admin/users' class='float-right'>Users</a>
<a href='/dashboards/default' class='float-right'>Dashboards</a>
<a href='/admin/capacities/current' class='float-right'>Capacity</a>
