<a href='/users/sign_out' class='float-right'>Sign out</a>
<a href='/admin/users' class='float-right'>Users</a>
<a href='/daily_reports/current' class='float-right'>Daily</a>
<a href='/admin/capacities/current' class='float-right'>Capacity</a>
