@import 'variables';

.capacities,
.main-content.bed_schedules {
  .usa-grid-full {
    max-width: 100%;
  }

  h4 {
    font-family: $sans-serif;
  }

  input[readonly] {
    background-color: $color-gray-lightest;
    color: $color-gray;
    box-shadow: none;
  }

  .field,
  .fake-header {
    float: left;
    display: block;
    box-sizing: border-box;
    margin-right: 2%;
    width: 8%;
  }

  .fake-header {
    padding: 0 1rem;
  }

  .field.date,
  .field.status {
    width: 15%;
  }

  .field.funded {
    width: 10%;
  }

  .month,
  .day {
    width: 5%;
  }

  .save-button {
    float: right;
    margin-right: 3rem;
  }

  .field.date h2 {
    margin: 0.5rem 0 0 0;
    font-family: $sans-serif;
    font-weight: normal;
  }

  .field.save {
    margin-top: 5.5rem;
    margin-right: 0;
    margin-left: 3rem;
    /*width: 12%;*/
    float: right;

    input {
      margin: 0;
      float: right;
    }
  }
}

h2.section-header {
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.current-capacity-form {
  margin-bottom: 3rem;
}

.audit-logs {
  background-color: $color-gray-lightest;
  border-top: 1px solid black;

  .audit-log {
    padding: 1rem;
    border-bottom: 1px solid black;

    .message {
      float: right;
    }
  }
}

.fake-table-header {
  float: left;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.capacities .bed-schedules,
.bed_schedules .bed-schedules {
  .bed-schedule-form {
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }

  .facility {
    width: 25%;
  }

  .field.facility,
  .field.bed-count,
  .field.month,
  .field.day,
  .field.year {
    padding-left: 1rem;

    label {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      left: -1rem;
    }
  }

  .field.delete {
    input[type=checkbox] {
      width: 0;
    }
  }

  .month,
  .day {
    margin-right: 1%;
  }

  label {
    padding-left: 1rem;
    margin-top: 1rem;
  }

  input[type=submit] {
    margin: 0;
  }
}
