@import 'variables';

.daily_reports {
  h2 .date {
    font-weight: normal;
    font-family: $sans-serif;
  }

  .report-content.none {
    padding: 3rem;
    background-color: $color-gray-lightest;
  }

  .date-selector {
    margin-top: 2rem;
    width: 200px;
    float: right;
  }
}
