@import 'variables';

.daily_reports {
  h2 .date,
  .key-numbers .stat {
    font-weight: normal;
    font-family: $sans-serif;
    font-size: 3rem;
    margin: 0;
  }

  .report-content.none {
    padding: 3rem;
    background-color: $color-gray-lightest;
  }

  .date-selector,
  .type-selector {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 200px;
    float: right;
  }

  .key-numbers {
    background-color: $color-gray-lightest;
    margin-top: 2rem;
    padding: 1.5rem;

    h4 {
      margin: 0;
    }
  }

  .bottom-row {
    margin-bottom: 2rem;
  }
}
