@import 'variables';

.daily_reports {
  h2 .date,
  .key-numbers .stat {
    font-weight: normal;
    font-family: $sans-serif;
    font-size: 3rem;
    margin: 0;
  }

  .report-content.none {
    padding: 3rem;
    background-color: $color-gray-lightest;
  }

  .date-selector,
  .type-selector {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 200px;
    float: right;
  }

  .key-numbers .usa-width-one-third {
    background-color: $color-gray-lightest;
    margin-top: 2rem;
    padding: 1.5rem;

    h4 {
      margin: 0;
    }
  }

  .bottom-row {
    margin-bottom: 2rem;
  }

  .detail-tables,
  .rates {
    margin: 4rem 0;

    h4.row {
      padding: 2rem;
      background-color: $color-gray-lightest;
    }

    .row {
      margin: 0;
      padding: 1rem 2rem;
      border-bottom: 1px solid black;

      b {
        float: right;
      }

      .calculation-value {
        float: right;
        width: 25%;
      }
    }
  }

  .color-alert-row {
    border-bottom: 1px solid black;

    .description,
    .calculation-value {
      padding: 1rem 2rem;
    }
  }

  .calculation-value {
    font-weight: bold;
    text-align: center;

    &.notice {
      background-color: $color-green-light;
    }

    &.warn {
      background-color: $color-gold;
    }

    &.alert {
      background-color: $color-secondary-dark;
      color: white;
    }
  }
}
