@import 'variables';

body {
  background-color: white;
}

.usa-disclaimer {
  padding: 0;
  width: 100%;

  .application-content {
    padding: 0 3rem;
    display: block;
  }
}

.site-navbar {
  background-color: $color-primary-darkest;
  color: $color-white;
  padding: 2rem 3rem;
  max-width: 100%;

  a {
    color: white;
  }

  a.header-home-link {
    text-decoration: none;
  }

  a.float-right {
    float: right;
    padding-left: 2rem;
  }

  h3 {
    margin: 0;
  }

  h6 {
    margin: 0;
    margin-top: 1rem;
  }
}

.main-content {
  padding: 0 3rem 3rem;
}

.content-space {
  background-color: white;
}

.usa-alert {
  margin-bottom: 3rem;
}

.float-right {
  float: right;
}
