.users {
  h2 {
    font-family: "Source Sans Pro";
  }

  table {
    margin-top: 1rem;
  }

  .role-form-container {
    width: 315px;
  }

  form {
    select {
      display: inline;
      width: 150px;
    }

    input[type=submit] {
      display: inline-block;
      padding: 1rem;
      margin: 0 1rem;
    }
  }

  .devise-form {
    margin-top: 3rem;

    input[type=submit] {
      margin: 2rem 0;
    }
  }
}
