<p>Hello <%= @user.email %>,</p>

<p>
A new account has been created for you to access the
Unaccompanied Children Dashboard. The dashboard gives you access to
key daily information from the UC program.
</p>

<h4>You must change your password before you can access the dashboard.<h4>

<h4><a href="<%= @url %>"><%= @url %></a></h4>

<p>
This message was sent from
Unaccompanied Children's Services<br>
Office of Refugee Resettlement<br>
Administration for Children & Families<br>
<a href="http://www.acf.hhs.gov/orr/programs/ucs">http://www.acf.hhs.gov/orr/programs/ucs</a>
