<div class='usa-alert usa-alert-error'>
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Data is currently unavailable!</h3>
    <p class='usa-alert-body'>
      It looks like the data API is not responding :(
    </p>
  </div>
</div>
